{% extends 'pw_storage/base.html' %}

{% block content %}
{% if messages %}
<div class="alert alert-primary" role="alert" >
  {% for message in messages %}
     {{ message }}
    {% endfor %}
</div>
{% endif %}
<br>
<form method="POST">
  {% csrf_token %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">User Search PW</h1>
    <br>
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search domain PW" aria-label="Search domain PW" aria-describedby="button-addon2" name="password_search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
      </div>
  </div>
  </div>
</div>
</form>


{% endblock %}